extends layout
block content
  if user 
    a(href="/logout") ログアウト
    h1 Hello,  <img width="15" heught="15" src="#{user._json.avatar_url}">  #{user.username}!
  else 
    a(href="/login") ログイン

  canvas( id="canvas1" width="300" height="250" )

  div( id="btn-box")
    button( type="button" onclick="changeImage()" value="1") 保存

  div( id="img-box")
    img( id="newImg")

  script( src="canvasBoard.js")

  
  
