body {
      text-align: center;
      background: rgb(238, 232, 232);
    }
    
    canvas {
      position: relative;
      background-color:green;
      border:none;  
      /*3px solid #000;*/
  }
    